body  { font-family: sans-serif; background-color: #cccccc; background-image: url('https://bit.ly/2sSqtFa')}
h1, h2, h3, h4       { color: whitesmoke; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #839683; }
h2              { font-size: 1.2em; }

p               { color: #101311; font-size: 1.7em;}

a {text-decoration: none; color:white; font-size: .7em;}

.top {position:absolute; left: 25%; border: 2px solid; width: 500px;
    border-radius: 15px; padding: 5px; margin: 5px; border-color: #6e7259; background-color: #7b8d86; }
.k {
    position:absolute; left: 25%; width: 400px; border: 2px solid; border-radius: 15px; border-color: #6e7259; background-color: #7b8d86;
    font-size: 1em;
}
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletetop{
    font-size: 0.5em;
}

.flash          { background: #7d8d7d; }
button{
    float:right;
}
