<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class = 'top'>
<h1>Styles</h1>
  <a href="{{url_for('newStyle')}}" > <h3> Create a New Style </h3> </a>
{% for style in styles %}
    <a href = "{{url_for('showCommodity', style_id = style.id)}}"> <p>{{style.name}}</p></a>
    <p><a href = "{{url_for('editStyle', style_id = style.id)}}">Edit Style</a></p>
    <p> <a href = "{{url_for('deleteStyle',style_id = style.id)}}">Delete Style</a> </p>
{% endfor %}
</div>
</body>
</html>